

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

body {
    background-color: #F09D51;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

.header {
    position: relative;
    bottom: 1.4rem;
    font-family: 'Monoton', cursive;
    color: #313638;
    text-align: left;
    background-color: #F06543;
    font-size: 2rem;
    padding: 1.5rem;
    padding-right: 3rem;
    margin-bottom: 0rem;
    transition: all 0.2s ease-out;
}

.most-recent-review {
    text-decoration: none;
}

.check-out-this-review {
    color: black;
    padding: 1rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    margin-left: 2.5%;
    margin-right: 45%;
    background-color: #F06543;
    border-radius: 0.25rem;
    text-align: left;
    border: 0.2rem solid #313638;
    transition: all 0.2s ease-out;
    position: relative;
    top: 9rem;
    z-index: 1;
}

.all-reviews-btn {
    width: 20rem;
    height: 3rem;
    display:block;
    margin: 0 auto;
    opacity: 90%;
    border-radius: 0.5rem;
    position: relative;
    top: 5rem;
    transition: all 0.2s ease-out;
    border: 0.15rem solid #313638;
}

.all-reviews-btn:hover {
    opacity: 100%;
    border: 0.2rem solid #313638;
    box-shadow: 0px 0px 15px #F06543;
    scale: 1.05;
}

.welcome-message {
        padding: 1rem;
        margin-top: 0rem;
        margin-bottom: 0.5rem;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #F06543;
        border-radius: 0.25rem;
        text-align: center;
        align-items: center;
        border: 0.2rem solid #313638;
        transition: all 0.2s ease-out;
}

.most-recent-review-img {
    display:block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 2rem;
    position: absolute;
    top: 6rem;
    z-index: -1;
    transition: all 0.2s ease-out;
}

.btn-style-none {
    text-decoration: none;
}

.most-recent-review-title {
    margin-left: 8px;
    font-size: 2rem;
    background-color: rgba(49, 54, 56, 1);
    padding: 1rem;
    color: #F09D51;
    text-align: left;
    width: 80vw;
    position: relative;
    top: 6rem;
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
    padding-bottom: 2rem;
}

.most-recent-review-designer {
    position: relative;
    width:70%;
    left: 1rem;
    top: 2.5rem;
    color: #E0DFD5;
    text-align:left;
}


.most-popular-reviews {
    position: relative;
    top: 7rem;
}

.trendy-reviews {
    position: relative;
    top: 6rem;
}

.most-popular-reviews-title {
    color: black;
    padding: 0.5rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    margin-left: 2.5%;
    margin-right: 50%;
    background-color: #F06543;
    border-radius: 0.25rem;
    text-align: left;
    border: 0.2rem solid #313638;
    transition: all 0.2s ease-out;
    position: relative;
    bottom: 0.5rem;
}

.footer {
    position: relative;
    top: 8px;
    width: 100vw;
    font-size: 1.2rem;
    text-align: center;
    background-color: #313638;
    color:#F06543;
    margin-top: auto;
    padding-bottom: 1rem;
    line-height: 1.3;
}

.footer-link {
    text-decoration: none;
    color:#F09D51;
    border-bottom: 0.1rem solid #F09D51;
}

.footer-link:hover{
    color:#e97f1c;
    border-bottom: 0.1rem solid #e97f1c;
}

.profile-picture {
    position: absolute;
    top: 0.8rem;
    right: 1.4rem;
    width: 4rem;
    height: 4rem;
    border: 0.2rem solid #313638;
    border-radius: 50%;
    transition: all 0.2s ease-out;
}



.search-form {
    display: flex;
    gap: 0.8rem;
    position: relative;
    left: 24px;
    background-color: #F06543;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 0.2rem solid #313638;
    margin-bottom: 1rem;
    transition: all 0.2s ease-out;
}   

#sort-by-selector {
    border-radius: 0.25rem;
    background-color: #E0DFD5;
    font-size: 0.5rem;
}

#category-selector {
    border-radius: 0.25rem;
    background-color: #E0DFD5;
    font-size: 0.5rem;
}

#order-by-selector {
    border-radius: 0.25rem;
    background-color: #E0DFD5;
    font-size: 0.5rem;
}

.search-btn {
    margin-left: 0.4rem;
    background-color: #E0DFD5;
    border-radius: 0.25rem;
    font-size: 0.8rem;
}

.search-error {
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    background-color: #F06543;
    width: 50%;
    left: 20%;
    padding: 5%;
    border-radius: 0.5rem;
    border: 0.2rem solid #313638;
}

.category-description {
    position: relative;
    text-align: center;
    font-size: 1rem;
    background-color: #F06543;
    width: 90%;
    right: 2%;
    padding: 2%;
    border-radius: 0.5rem;
    border: 0.2rem solid #313638;
    margin: 0rem;
    margin-bottom: 1rem;
}

.review-list {
  position: relative;
  bottom: 2rem;
  padding-left: 0px;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.review-card {
position: relative;
  width: 8.8rem;
  height: 14rem;
  border-radius: 10px;
  background-color: #E0DFD5;
  border: 0.2rem solid #313638;
  opacity: 0.9;
  transition: all 0.2s ease-out;
}

.review-card:hover,
.review-card:focus {
    scale: 1.05;
    border: 0.3rem solid #313638;
    box-shadow: 0px 0px 15px #F06543;
    opacity: 1;
}

.progress-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.review-img {
    border-radius: 5px 5px 5px 25%;
    width: 100%;
    height: 40%;
}

.review-title {
    position: relative;
    text-align: center;
    top: -7%;
    margin-bottom:0px;
}

.card-footer {
    position: absolute;
    bottom: 9%;
    height: 20px;
    width: 100%;
    left: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.review-info {
    position: absolute;
    bottom: 0.3rem;
    left: 0.3rem;
}

.review-comment-count {
    font-size: 0.7rem;
    margin:0px;
    margin-bottom: 0.2rem;
}

.review-date {
    font-size: 0.7rem;
    margin:0px;
}

.vote-btn-activate {
    position:relative;
    bottom: 0.3rem;
    text-align: left;
    font-size: 1rem;
    left: 2.3rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    background-color: #E0DFD5;
}

.vote-btn-deactivate {
    position:relative;
    bottom: 0.3rem;
    text-align: left;
    font-size: 1rem;
    left: 2.3rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    background-color: #6c787c;
}

.vote-error {
    color: rgb(136, 3, 3);
    font-size: 0.6rem;
    text-align: center;
    position:relative;
    left: 0.25rem;
    bottom: 0.1rem;
}

.link {
    text-decoration: none;
    color: black;
}

.review-id-card {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.review-id-title {
    margin-left: 8px;
    font-size: 2rem;
    background-color: rgba(49, 54, 56, 0.9);
    padding: 1rem;
    color: #F09D51;
    text-align: left;
    width: 70vw;
    position: relative;
    bottom: 3rem;
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
    padding-bottom: 2rem;
}

.review-id-img {
    border-radius: 10px;
    width: 90vw;
    mask-image: linear-gradient(#FFFF, rgba(0, 0, 0, 0));
} 

.review-id-designer {
    position: relative;
    width:70%;
    left: 1rem;
    bottom: 6.5rem;
    color: #E0DFD5;
    text-align:left;
}

.review-id-body {
    position: relative;
    text-align: center;
    bottom: 1rem;
    font-size: 1.3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 0px;
    margin-top:0px;
}

.review-id-owner {
    width: 30%;
    position:relative;
    text-align:left;
    left: 50%;

    margin:0px;
    display:block;
}

.review-id-review {
    background: #F09D51;
    margin: 0px;
    position: relative;
    bottom: 4rem;
    width: 100vw;
    color: #313638;
}

.comment-adder-form {
    position:relative;
    top: 8px;
    background: linear-gradient(#F09D51, #F06543);
    width: 100vw;
    color: #313638;
}

.comment-adder-profile {
    position: relative;
    left: 4%;
    margin-bottom: 0.6rem;
    background-color: #313638;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    border: 0.2rem solid #313638;
}

.commenting-as {
    font-size: 1.3rem;
    margin: 0rem;
    position: relative;
    left: 6.5rem;
    top: 3.5rem;
}

.comment-adder-username {
    font-size: 1.2rem;
    margin:0rem;
    position: relative;
    left: 6.9rem;
    top: 3.4rem;
}

#comment-adder-input {
   display: block;
   font-size: 1rem;
   margin-left: 1rem;
   font-family: Arial, Helvetica, sans-serif;
   width: 91.5%;
   border: 0.15rem solid #313638;
   border-radius: 0.25rem;
   background-color: #E0DFD5;
}

.comment-adder-button {
    position: relative;
    margin: 0.5rem;
    font-size: 1rem;
    left: 74.5%;
    bottom: 0.2rem;
    border-radius: 0.25rem;
}

.comment-remover-btn {
    font-size: 1rem;
    margin: 0.7rem;
    border-radius: 0.25rem;
}

.comment-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.comment-error {
    margin:0px;
    font-size: 0.9rem;;
    font-style: italic;
    position: relative;
    left: 5%;
    bottom: 2.1rem;
}

#sign-in-link {
    text-decoration:none;
    color:#313638;
    border-bottom: 0.1rem #313638 solid;
}

.comments-background {
    position:relative;
    top: 8px;
    background-color: #F06543;
    list-style-type: none;
    padding:0px;
    width: 100vw;
    padding-bottom:2rem;
    margin: 0px;
}

.comments-title {
    font-size: 2rem;;
    text-align: center;
    padding-top: 1rem;
    margin:0px;
    color: #313638;
    border-bottom: 0.3rem solid #313638;
}

.comment-wrapper {
    background-color: #E0DFD5;
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
    margin:1rem;
    padding:0.5rem;
    padding-bottom:0rem;
    border: 0.3rem solid #313638;
    color: #313638;
}

.no-comment {
    font-size: 1.1rem;;
    padding-top: 1rem;
    text-align: center;
}

.comment-profile-pic {
    position: relative;
    top: 1rem;
    left: 0.2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.2rem solid #313638;
}

.comment-author { 
   position: relative;
   font-size: 1.5rem;
   bottom: 3rem;
   left: 5.5rem;
   margin: 0px;
   width: 70%
}

.comment-body {
    position:relative;
    left: 5.5rem;
    margin: 0px;
    font-size: 1.3rem;
    bottom: 2rem;
    width: 73%;
    
}

.log-in {
    padding: 1rem;
    margin: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #F06543;
    border-radius: 0.25rem;
    text-align: center;
    align-items: center;
    border: 0.2rem solid #313638;
    transition: all 0.2s ease-out;
}

.log-in-title {
    color: #313638;
    border-bottom: 0.2rem solid #313638;
    width: 30%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.submit-btn {
    margin: 1rem;
    background-color: #E0DFD5;
    border-radius: 0.25rem;
}

.submit-btn:hover,
.search-btn:hover,
.comment-adder-button:hover,
.comment-remover-btn:hover {
    background-color: #c5c5bc;
}

#existing-username {
    border-radius: 0.25rem;
}

.username-invalid {
    color:rgb(148, 2, 2)
}

@media only screen and (max-width: 500px) {
    
    .submit-btn {
        color: #313638;
        border: 0.1rem solid #313638;
    }

    #comment-adder-input {
        width: 85%
    }

    .comment-remover-btn {
        color:#313638;
        border: 0.1rem solid #313638;
    }

    .comment-adder-button {
        left: 64.5%;
        background-color: #E0DFD5;
        color: #313638;
        border: 0.1rem solid #313638;
    }

    .most-recent-review-title {
        top: 0rem;
    }
    
    .most-recent-review-designer {
        top: -3.5rem;
    }

    .check-out-this-review {
        top: 2.7rem;
        left: 1rem;
    }

    .all-reviews-btn {
        top: 0rem;
        color: #313638;
    }

    .most-popular-reviews {
        position: relative;
        top: 3rem;
    }

    .vote-btn-activate {
        font-size: 0.7rem;
        border: 0.1rem solid #313638;
        width: 4rem;
        color: #313638;
    }
    
    .vote-btn-deactivate {
        font-size: 0.7rem;
        width: 4rem;
        color: #313638;
    }

    .review-title {
        bottom: 1rem;
    }
}

@media only screen and (min-width: 700px) {

    .header {
        position: relative;
        bottom: 2.7rem;
        text-align: left;
        font-size: 4rem;
    }


.most-popular-reviews {
    position: relative;
    top: 11rem;
}

.trendy-reviews {
    position: relative;
    top: 10rem;
}

.most-popular-reviews-title {
    font-size: 1.9rem;
    position: relative;
    top: 1rem;
}


.all-reviews-btn {
    top: 10.3rem;
}


    .most-recent-review-title {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
        margin-left: 8%;
        top: 12.5rem;
    }

    .most-recent-review-designer {
        top: 3rem;
        font-size: 1.3rem;
        margin-left: 8%;
        top: 9.5rem;
    }

    .check-out-this-review {
        margin-left: 10%;
        margin-right: 50%;
        top: 16rem;
    }

    .search-form {
        gap: 1rem;
        border-radius: 0.5rem;
        padding: 1.5rem;
    }   
    
    #sort-by-selector {
        border-radius: 0.5rem;
        font-size: 1.3rem;
    }
    
    #category-selector {
        border-radius: 0.5rem;
        font-size: 1.3rem;
    }
    
    #order-by-selector {
        border-radius: 0.5rem;
        font-size: 1.3rem;
    }
    
    .search-btn {
        margin-left: 0.8rem;
        border-radius: 0.5rem;
        font-size: 1.8rem;
    }
    
    .search-error {
        font-size: 2rem;
        left: 20%;
        padding: 3%;
    }

    .category-description {
        font-size: 1.3rem;
    }

    .review-list {
        margin-top: 4rem;
        gap: 45px;
        font-size: 2rem;
    }

    .review-card:hover,
    .review-card:focus {
    box-shadow: 0px 0px 30px #F06543;
}
      
    .review-card {
        width: 14rem;
        height: 23rem;
        border-radius: 20px;
    }
      
    .review-title {
        top: -6.5%;
        font-size: 1.6rem;
    }

    .review-img {
        height: 42%;
        border-radius: 15.5px 15.5px 5px 25%;
    }
      
    .review-info {
        position: absolute;
        bottom: 0.8rem;
        left: 0.8rem;
    }
    
    .review-comment-count {
        font-size: 1rem;
    }
    
    .review-date {
        font-size: 1rem;
    }


    .card-footer {
        bottom: 10%;
    }

    .vote-error {
    font-size: 0.7rem;
    position: relative;
    bottom: 0.7rem;
    left: 1.65rem;
    }   
    
    .vote-btn-activate,
    .vote-btn-deactivate {
        bottom: 1rem;
        font-size: 1.4rem;
        height: 2.5rem;
        left: 4rem;
        border-radius: 0.5rem;
    }

    .review-id-card {
        font-size: 1.5rem;
    }

    .review-id-title {
        font-size: 2.5rem;
        bottom: 7rem;
    }

    .review-id-designer {
        bottom: 11.5rem;
        font-size: 1.3rem;

    }
    
    .review-id-body {
        bottom: 4.5rem;
        font-size: 1.5rem;
    }
    
    .review-id-owner {
        bottom: 3rem;
    }
    
    .comment-adder-form {
        bottom: 6rem;
    }

    .comment-adder-profile {
        margin-bottom: 0.8rem;
        width: 6rem;
        height: 6rem;
        border: 0.3rem solid #313638;
    }
    
    .commenting-as {
        font-size: 1.7rem;
        position: relative;
        left: 9.3rem;
        top: 4.6rem;
    }
    
    .comment-adder-username {
        font-size: 1.4rem;
        position: relative;
        left: 10rem;
        top: 4.5rem;
    }
    
    #comment-adder-input {
       font-size: 1.3rem;
       width: 94.5%;
       border: 0.20rem solid #313638;
       border-radius: 0.5rem;
    }
    
    .comment-adder-button {
        font-size: 1.4rem;
        left: 81.8%;
        border-radius: 0.5rem;
    }

    .comment-remover-btn {
        font-size: 1.4rem;
        left: 74%;
        bottom: 8.9rem;
        border-radius: 0.5rem;
    }
    
    .comment-error {
        font-size: 1.1rem;;
        bottom: 2.6rem;
    }

    .comment-wrapper {
        top:1rem;
        font-size: 1.5rem;
        border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
        border: 0.4rem solid #313638;
    }

    .comments-background {
        bottom: 6.5rem;
    }
    
    .comments-title {
        font-size: 3rem;;
    }

    .no-comment {
        font-size: 1.5rem;
    }

    .comment-profile-pic {
        position: relative;
        top: 1rem;
        left: 0.5rem;
        width: 5rem;
        height: 5rem;
        border: 0.3rem solid #313638;
    }
    
    .comment-author { 
       position: relative;
       font-size: 1.7rem;
       bottom: 4.5rem;
       left: 7.3rem;
       margin: 0px;
    }
    
    .comment-body {
        position:relative;
        margin: 0px;
        left: 7.3rem;
        font-size: 1.5rem;
        bottom: 3.5rem;
        width: 80%;
    }

    .comment-remover-btn {
        font-size: 1.5rem;
        border-radius: 0.5rem;
    }
    
    .comment-date{
        font-size: 1.5rem;
    }
    
  }

  @media only screen and (min-width: 870px) {

    .most-recent-review-img {
        width: 55rem;
        border-radius: 1rem;
        margin: auto;
        left: 0;
        right: 0;
        text-align: center;
        
    }

    .review-id-img {
        border-radius: 20px;
        width: 50rem;
    } 

    .review-id-title {
        color: #F09D51;
        text-align: right;
        width: 50rem;
        font-size: 3rem;
        border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding-bottom: 3.5rem;
        margin-right:0px;
    }

    .review-id-body {
        font-size: 2rem;
    }
  
    .review-id-owner,
    .review-id-designer {
        font-size: 1.75rem;
    }

    .review-id-designer {
        bottom: 12.5rem;
        margin:0px;
    }

    .commenting-as {
        left: 10.8rem;
    }
    
    .comment-adder-username {
        left: 11.6rem;
    }

    .comments-background {
        bottom: 6.8rem;
    }

    .profile-picture {
        position: absolute;
        top: 1.1rem;
        right: 3rem;
        width: 6rem;
        height: 6rem;
        border: 0.3rem solid #313638;
    }

    .log-in {
        padding: 2rem;
        font-size: 1.9rem;
        border-radius: 0.5rem;
    }

    .welcome-message {
        font-size: 1.2rem;
        padding: 2rem;
        border-radius: 0.5rem;
        text-align: left;
        margin-left: -1%;
        margin-right: 60%;
    }
    
    .log-in-title {
        border-bottom: 0.4rem solid #313638;
    }
    
    .submit-btn {
        margin: 2rem;
        font-size: 2rem;
        border-radius: 0.5rem;
    }
    
    #existing-username {
        border-radius: 0.5rem;
        font-size: 2rem;
    }
}