body {
    background-color: #E0DFD5;
    font-family: Arial, Helvetica, sans-serif
}

.header {
    font-family: 'Monoton', cursive;
    color: #313638;
    text-align: right;
    background-color: #F06543;
    font-size: 2rem;
    margin-top: 0;
    padding: 1.5rem;
    padding-right: 3rem;
    border-radius: 0.25rem;
}

.profile-picture {
    position: absolute;
    top: 1.3rem;
    left: 1.5rem;
    width: 4rem;
    border: 0.2rem solid #313638;
    border-radius: 50%;
}

.review-list {
  padding-left: 0px;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.review-card {
position: relative;
  width: 8rem;
  box-shadow: 4px 4px 10px #313638;
  height: 15rem;
  padding: 0.7rem;
  border-radius: 10px;
  background-color: #E8E9EB;
  opacity: 0.9;
  transition: all 0.2s ease-out;
}

.review-card:hover,
.review-card:focus {
    background-color: #F09D51;
    scale: 1.05;
    box-shadow: 4px 4px 10px #F06543;
    opacity: 1;
}

.progress-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.review-img {
    border-radius: 5px;
    width: 100%;
    height: 35%;
}

.review-title {
    position: relative;
    text-align: center;
    top: -7%;
    margin-bottom:0px;
}

.review-designer {
    position: relative;
    margin-top:0px;
    text-align: center;
    font-size: 0.9rem;
    height: 30px;
}

.card-footer {
    position: absolute;
    bottom: 15%;
    height: 20px;
    width: 100%;
    left: 0px;
    display: flex;
    justify-content: space-around;
    visibility: hidden;
}

.review-owner {
    position: relative;
    text-align: left;
    width: 45%;
    font-size: 0.7rem;
}

.review-votes {
    text-align: left;
    font-size: 1rem;
    
}

.link {
    text-decoration: none;
    color: black;
}

.review-id-card {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.review-id-title {
    font-size: 2rem;
    background-color: rgba(49, 54, 56, 0.9);
    padding: 1rem;
    color: #F09D51;
    text-align: left;
    width: 70vw;
    position: relative;
    bottom: 3rem;
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
    padding-bottom: 2rem;
}

.review-id-img {
    border-radius: 10px;
    width: 90vw;
    mask-image: linear-gradient(#FFFF, rgba(0, 0, 0, 0));
} 

.review-id-designer {
    position: relative;
    width:70%;
    left: 1rem;
    bottom: 6.5rem;
    color: #E0DFD5;
    text-align:left;
}

.review-id-body {
    position: relative;
    text-align: center;
    bottom: 2rem;
    font-size: 1.3rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.review-id-owner {
    width: 40%;
    position:relative;
    text-align:left;
    left: 50%;
    bottom: 2.5rem;
}

.review-id-review {
    background: linear-gradient(#E0DFD5, #F09D51);
    margin: 0px;
    position: relative;
    right: 8px;
    bottom: 4rem;
    width: 100vw;
}

.comments-background {
    position:relative;
    bottom: 5.1rem;
    background-color: #F09D51;
    list-style-type: none;
    padding:0px;
    right: 8px;
    width: 100vw;
    padding-bottom:2rem;
}

.comments-title {
    font-size: 2rem;;
    text-align: center;
    margin:0px;
    color: #313638;
    border-bottom: 0.3rem solid #313638;
}

.comment-wrapper {
    background-color: #E0DFD5;
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
    margin:1rem;
    padding:0.5rem;
}

.no-comment {
    font-size: 1.1rem;;
    padding-top: 1rem;
    text-align: center;
}

.log-in {
    padding: 1rem;
    background-color: #F09D51;
    border-radius: 0.25rem;
    text-align: center;
    align-items: center;
}

.log-in-title {
    color: #313638;
    border-bottom: 0.2rem solid #313638;
    width: 30%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.submit-btn {
    margin: 1rem;
    background-color: #E0DFD5;
    border-radius: 0.25rem;
}

.submit-btn:hover {
    background-color: #c5c5bc;
}

#existing-username {
    border-radius: 0.25rem;
}

.username-invalid {
    color:rgb(148, 2, 2)
}

@media only screen and (min-width: 700px) {

    .header {
        text-align: center;
        font-size: 4rem;
        border-radius: 0.5rem;
    }

    .review-list {
        margin-top: 4rem;
        gap: 45px;
        font-size: 2rem;
    }
      
    .review-card {
        width: 16rem;
        box-shadow: 8px 8px 20px #313638;
        height: 30rem;
        padding: 1.4rem;
        border-radius: 20px;
    }
      
    .review-img {
        height: 35%;
    }
      
    .review-title {
        top: -3.5%;
    }
      
    .review-designer {
        font-size: 1.3rem;
        height: 60px;
    }
      
    .review-owner {
        font-size: 1.3rem;
    }
      
    .review-votes {
        font-size: 1.7rem;
    }

    .review-id-card {
        font-size: 1.5rem;
    }

    .review-id-title {
        font-size: 2.5rem;
        bottom: 7rem;
    }

    .review-id-designer {
        bottom: 11.5rem;
        font-size: 1.3rem;

    }
    
    .review-id-body {
        bottom: 7.5rem;
        font-size: 1.5rem;
    }
    
    .review-id-owner {
        bottom: 8rem;
    }

    .comment-wrapper {
        font-size: 1.5rem;
        border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .comments-background {
        bottom: 5.5rem;
    }
    
    .comments-title {
        font-size: 3rem;;
    }

    .no-comment {
        font-size: 1.5rem;
    }
  }

  @media only screen and (min-width: 870px) {

    .review-id-img {
        border-radius: 20px;
        width: 50rem;
    } 

    .review-id-title {
        color: #F09D51;
        text-align: right;
        width: 50rem;
        font-size: 3rem;
        border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding-bottom: 3.5rem;
        margin-right:0px;
    }

    .review-id-body {
        font-size: 2rem;
    }
  
    .review-id-owner,
    .review-id-designer {
        font-size: 1.75rem;
    }

    .review-id-designer {
        bottom: 12.5rem;
        margin:0px;
    }

    .comments-background {
        bottom: 5.8rem;
    }

    .profile-picture {
        position: absolute;
        top: 1.7rem;
        left: 3rem;
        width: 6rem;
        border: 0.3rem solid #313638;
    }

    .log-in {
        padding: 2rem;
        font-size: 2rem;
        border-radius: 0.5rem;
    }
    
    .log-in-title {
        border-bottom: 0.4rem solid #313638;
    }
    
    .submit-btn {
        margin: 2rem;
        font-size: 2rem;
        border-radius: 0.5rem;
    }
    
    #existing-username {
        border-radius: 0.5rem;
        font-size: 2rem;
    }
}